[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
matplotlib     = "*"
tensorflow     = "*"
h5py           = "*"
keras_svm      = "*"

[dev-packages]
tensorflow-gpu = "*"

[requires]
python = "3.6"
